*{
  box-sizing: border-box ;
  margin: 0;
  padding: 0;
}

.dark-card {
  background-color: #333 !important;
  color: #fff !important;
}

.dark-card .bi {
  color: #ddd !important;
}

.dark-card .bi-star-fill {
  color: #f2c94c !important;
}

.dark-mode .card-body {
  color: white !important;
}



