
@media (max-width: 1200px) {
  .parent-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .add-new-task-header {
    width: 100%;
    margin-right: 0;
    margin-top: 1rem;
  }

  .search-input-header {
    width: 100%;
  }

  .search-icon {
    font-size: 0.9rem;
  }
}

@media (max-width: 992px) {
  .below-header {
    margin-left: 0;
    align-items: center;
  }

  .count-task {
    text-align: center;
    margin-left: 0;
  }

  .Dropdown.Toggle-header {
    position: static;
    margin-top: 1rem;
    text-align: center;
  }

  .add-new-task-header {
    height: auto;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .parent-header {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }

  .search-input-header {
    width: 90%;
  }

  .add-new-task-header {
    width: 90%;
  }

  .below-header {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 0;
  }

  .Dropdown.Toggle-header {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .search-input-header {
    width: 100%;
  }

  .Dropdown.Toggle-header {
    font-size: 12px;
    padding: 0.5rem;
  }

  .count-task {
    font-size: 14px;
  }

  .add-new-task-header {
    font-size: 12px;
    padding: 0.5rem;
  }
}
