/* Base Styles */

@media (max-width: 1088px) {
    .parent-card:nth-of-type(3) {
      margin-top: 0.7rem;  
    }
  }

  @media (max-width: 1023) {
    
  }


  /* @media (min-width: 601px) and (max-width: 1024px) {
    .card {
      width: 48%;
      margin-bottom: 1.5rem;
    }
  
    .card-title {
      font-size: 1.1rem;
    }
  
    .card-btn {
      font-size: 11px;
    }
  
    .bi {
      font-size: 20px;
    }
  } */
  
  /* For large screens (laptops/desktops) */
  /* @media (min-width: 1025px) {
    .card {
      width: 22rem;
      margin-bottom: 2rem;
    }
  
    .card-title {
      font-size: 1.3rem;
    }
  
    .card-btn {
      font-size: 13px;
    }
  
    .bi {
      font-size: 24px;
    }
  }
   */