.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
    background-color: #f8f9fa;
    padding-top: 20px;
  }
  
  .sidebar-column {
    padding: 0;
  }
  
  .dark {
    color: black;
    color: rgb(82, 236, 182);
    color: rgb(246, 228, 125);
    color: rgb(3, 74, 3);
    color: rgb(135, 74, 1);
  }

  .btn-add-task-sidebar:hover {
    background-color: rgb(130, 91, 192) !important;
  }
   
  .add-new-task-header:hover{
    background-color: rgb(130, 91, 192) !important;

  }
  
  .nav-link-item:hover,
  .nav-link-item:active {
    color: rgb(179, 3, 3) !important;
  }


@media (max-width: 768px) {
  .Dropdown.Toggle {
    width: 100px !important;
    right: 15rem !important;
  }
}
